#игнорируются файлы Thumbs.db
Thumbs.db
#игнорируются файлы .DS_Store
.DS_Store
#игнорируются файлы, находящиеся в подкаталоге tmp
tmp/
#игнорируются файлы,заканчивающиеся суффиксами _old, _backup.
*old
*backup